/*Fonts still considering: */
/*font-family: 'Seymour One', sans-serif;*/
/*font-family: 'Orbitron', sans-serif;*/
/*font-family: 'Aldrich', sans-serif;*/
/*font-family: 'Cutive Mono', monospace;*/
/*font-family: 'Fjalla One', sans-serif;*/
/*font-family: 'Bree Serif', serif;*/
/*font-family: 'Play', sans-serif;*/
/*font-family: 'Righteous', cursive;*/
/*font-family: 'Rum Raisin', sans-serif;*/
/*font-family: 'Denk One', sans-serif;*/
/*font-family: 'Prompt', sans-serif;*/
/*font-family: 'Playfair Display SC', serif;*/
/*font-family: 'Teko', sans-serif;*/

/* Color Combo 1 */
/* #525564, #74828F, #96C0CE, #BEB9B5, #C25B56, #FEF6EB */
/* Color Combo Natural Bl-ue */
/* #193441, #3E606F, #91AA9D, #D1DBBD, #FCFFF5 */
/* Color Combo Phaedra */
/* #FF6138, #FFFF9D, #BEEB9F, #79BD8F, #00A388 */
/* Color Combo AlternativeGarden */
/* #1A4F63, #068587, #6FB07F, #FCB03C, #FC5B3F */
/* Color Combo mind-warp */
/* #012530, #28544B, #ACBD86, #FFD6A0, #FF302C */
/* Color Combo KnotJustNautical */
/* #2C3E50, #FC4349, #D7DADB, #6DBCDB, #FFFFFF */
/* Color Combo Blue-Sky */
/* #16193B, #35478C, #4E7AC7, #7FB2F0, #ADD5F7 */
/* Color Combo Aspirin-C */
/* #225378, #1695A3, #ACF0F2, #F3FFE2, #EB7F00 */
/* Color Combo Flat-UI */
/* #2C3E50, #E74C3C, #ECF0F1, #3498DB, #2980B9 */




/* ======= Base ======= */
body {
  font-family: 'Lato', arial, sans-serif;
  color: #444;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Righteous', cursive;
  font-weight: 700;
  color: #17baef;  /* Color #1 */
  color: #74828F;

}
a {
  color: #17baef; /* Color #1 */
  color: #74828F;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: #0e98c5; /* Color #1B */
  color: #74828F;
}
.btn,
a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-family: 'Montserrat', arial, sans-serif;
  padding: 8px 16px;
  font-weight: bold;
}
.btn .fa,
a.btn .fa {
  margin-right: 5px;
}
.btn:focus,
a.btn:focus {
  color: #fff; /* Color #4 */
}
a.btn-cta-primary,
.btn-cta-primary {
  background:  #074f66; /* Color #3 */
  border: 1px solid  #074f66; /* Color #3 */
  color: #fff; /* Color #4 */
  font-weight: 600;
  text-transform: uppercase;
}
a.btn-cta-primary:hover,
.btn-cta-primary:hover {
  background: #053c4e;
  border: 1px solid #053c4e;
  color: #fff; /* Color #4 */
}
a.btn-cta-secondary,
.btn-cta-secondary {
  background: #eebf3f; /* Color #2 */
  background: #C25B56;
  border: 1px solid #eebf3f; /* Color #2 */
  border: 1px solid #C25B56;
  color: #fff; /* Color #4 */
  font-weight: 600;
  text-transform: uppercase;
}
a.btn-cta-secondary:hover,
.btn-cta-secondary:hover {
  background: #ecb728; /* Color #2-Dark */
  background: #b54741;
  border: 1px solid #ecb728; /* Color #2-Dark */
  border: 1px solid #b54741;
  color: #fff; /* Color #4 */
}
.text-highlight {
  color:   #074f66; /* Color #3 */
}
.offset-header {
  padding-top: 90px;
}
pre code {
  font-size: 16px;
}
/* ======= Header ======= */
.header {
  padding: 10px 0;
  background: #17baef; /* Color #1 */
  background: #74828F;
  color: #fff; /* Color #4 */
  position: fixed;
  width: 100%;
  padding-bottom: 5px;
}
.header.navbar-fixed-top {
  background: #fff; /* Color #4 */
  z-index: 9999;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.header.navbar-fixed-top .logo a {
  color: #17baef; /* Color #1 */
  color: #74828F;
}
.header.navbar-fixed-top .main-nav .nav .nav-item a {
  /*color: #666;*/
}
.header .logo {
  margin: 0;
  font-size: 26px;
  padding-top: 10px;
}
.header .logo a {
  color: #fff; /* Color #4 */
}
.header .logo a:hover {
  text-decoration: none;
}
.header .main-nav button {
  background:  #074f66; /* Color #3 */;
  color: #fff !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.header .main-nav button:focus {
  outline: none;
}
.header .main-nav button .icon-bar {
  background-color: #fff; /* Color #4 */
}
.header .main-nav .navbar-collapse {
  padding: 0;
}
.header .main-nav .nav .nav-item {
  font-weight: normal;
  margin-right: 30px;
  font-family: 'Montserrat', sans-serif;
}
.header .main-nav .nav .nav-item.active a {
  color: #17baef; /* Color #1 */
  color: #fff; /* Plain white better if there's a background color */
  background: #074f66;
  border-radius: 4px;
}
.header .main-nav .nav .nav-item a {
  color: #0a7396; /* Color #1D */
  color: #074f66;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  font-size: 16px;
  padding: 15px 10px;
}
.header .main-nav .nav .nav-item a:hover {
  color:  #074f66; /* Color #3 */;
  background: none;
}
/*.header .main-nav .nav .nav-item a:focus {
  outline: none;
  background: none;
}*/
.header .main-nav .nav .nav-item a:active {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item.active {
  color: #17baef; /* Color #1 */
  color: #74828F;
}
.header .main-nav .nav .nav-item.last {
  margin-right: 0;
}
.nav > li > a:focus {
  background-color: transparent; /*overwriting bootstrap */
}
.header h1 {
  /* size | family */
  font: 7em 'Arial', sans-serif;
  padding-top: 70px;
}
.header-buttons {
  padding: 30px 0 130px 0;
}
.header-links a {
  font-size: 1.2em;
  padding: 0 20px;
}
 .logo-title {
   font-weight: bold;
 }
/* ======= Heading Section ======= */
.header-links {
  text-align: center;
}
.header-links a {
  font-size: 1.2em;
  padding: 0 20px;
  color: #17baef; /* Color #1 */
  color: #C25B56;
}
.heading {
  background: #17baef; /* Color #1 */
  background: #74828F;
  color: #fff; /* Color #4 */
  padding-top: 150px;
}
.heading .title {
  font-size: 98px;
  color:  #074f66; /* Color #3 */;
  margin-top: 0;
}
.heading .title .highlight {
  color: #eebf3f; /* Color #2 */
  color: #C25B56;
}
#position-seeking {
  font-family: 'Cutive Mono', monospace;
  font-weight: bold;
}
.heading .intro {
  font-size: 28px;
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.heading .btns .btn {
  margin-right: 15px;
  font-size: 18px;
  padding: 8px 30px;
}
.btns {
  padding-bottom: 200px;
}
.heading .meta {
  margin-top: 120px;
  margin-bottom: 30px;
  color: #0a7396; /* Color #1D */
}
.heading .meta li {
  margin-right: 15px;
}
.heading .meta a {
  color: #0a7396; /* Color #1D */
}
.heading .meta a:hover {
  color:  #074f66; /* Color #3 */;
}
.heading .social-media {
  background: #0c86ae; /* Color #1C */
  background: #074f66;
  padding: 20px 0;
  margin: 0 auto;
}
.heading .social-media li {
  margin-top: 15px;
}
.heading .social-media {
  margin-top: 0;
  position: relative;
}

/* ======= Projects Section ======= */
.projects {
  padding: 80px 0 30px 0;
  background: #f5f5f5; /* Color #D */
}
.projects .title {
  color:  #074f66; /* Color #3 */;
  margin-top: 0;
  margin-bottom: 60px;
}
.projects .intro {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.projects .item {
  position: relative;
  margin-bottom: 30px;
}
.projects .item .icon-holder {
  position: absolute;
  left: 30px;
  top: 0;
}
.projects .item .icon-holder .fa {
  font-size: 24px;
  color:  #074f66; /* Color #3 */;
}
.projects .item .content {
  padding-left: 60px;
}
.projects .item .content .sub-title {
  margin-top: 0;
  color:  #074f66; /* Color #3 */;
  font-size: 18px;
}
.projects-details {
  margin: 0 auto;
  padding-bottom: 60px;
  max-width: 400px;
}
.projects-details img {
  border: 1px solid #074f66;
  margin-bottom: 5px;
  width: 100%;
  height: 200px;
}
/*.projects-details:hover img {
  height: 210px;
}*/
.projects-details p {
  text-align: justify;
}
/* ======= Skills Section ======= */
.skills {
  padding: 80px 0;
  background: #17baef; /* Color #1 */
  background: #74828F;
  color: #fff; /* Color #4 */
}
.skills .title {
  color:  #074f66; /* Color #3 */
  margin-top: 0;
  margin-bottom: 30px;
}
.skills a {
  color:  #074f66; /* Color #3 */
}
.skills a:hover {
  color: #042a36; /* Color #5 */
}
.skills .feature-list li {
  margin-bottom: 10px;
  color:  #074f66; /* Color #3 */;
}
.skills .feature-list li .fa {
  margin-right: 5px;
  color: #fff; /* Color #4 */
}
.skills h1,
.skills h2,
.skills h3,
.skills h4,
.skills h5,
.skills h6 {
  color: white;
  display: inline-block;
}
.skills-row {
  padding: 10px 0;
  text-align: left;
  margin-left: 50px;
}
.tech-icon {
  width: 48px;
  height: 48px;
  margin: 10px 5px 10px 0;
}
/* ======= Work Section ======= */
.work {
  padding: 80px 0;
  background: #f5f5f5; /* Color #D */
}
.work .title {
  color:  #074f66; /* Color #3 */;
  margin-top: 0;
  margin-bottom: 30px;
}
.work .work-inner {
  max-width: 800px;
  background: #fff; /* Color #4 */
  padding: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0 auto;
}
.work .block {
  margin-bottom: 60px;
}
.work .code-block {
  margin: 30px inherit;
}
.work .code-block pre[class*="language-"] {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* ======= License Section ======= */
.license {
  padding: 80px 0;
  background: #f5f5f5; /* Color #D */
}
.license .title {
  margin-top: 0;
  margin-bottom: 60px;
  color:  #074f66; /* Color #3 */;
}
.license .license-inner {
  max-width: 800px;
  background: #fff; /* Color #4 */
  padding: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0 auto;
}
.license .info {
  max-width: 760px;
  margin: 0 auto;
}
.license .cta-container {
  max-width: 540px;
  margin: 0 auto;
  margin-top: 60px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.license .cta-container .speech-bubble {
  background: #d6f3fc;
  color:  #074f66; /* Color #3 */;
  padding: 30px;
  margin-bottom: 30px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.license .cta-container .speech-bubble:after {
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -10px;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #d6f3fc;
}
.license .cta-container .icon-holder {
  margin-bottom: 15px;
}
.license .cta-container .icon-holder .fa {
  font-size: 56px;
}
.license .cta-container .intro {
  margin-bottom: 30px;
}
/* ======= Contact Section ======= */
.contact {
  padding: 80px 0;
  background: #17baef; /* Color #1 */
  background: #74828F;
  color: #fff; /* Color #4 */
}
.contact .contact-inner {
  max-width: 760px;
  margin: 0 auto;
}
.contact .title {
  color:  #074f66; /* Color #3 */;
  margin-top: 0;
  margin-bottom: 30px;
}
.contact .intro {
  margin-bottom: 60px;
}
.contact a {
  color:  #074f66; /* Color #3 */;
}
.contact a:hover {
  color: #042a36; /* Color #5 */
}
.contact .author-message {
  position: relative;
  margin-bottom: 60px;
}
.contact .author-message .profile {
  position: absolute;
  left: 30px;
  top: 15px;
  width: 100px;
  height: 100px;
}
.contact .author-message .profile img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.contact .author-message .speech-bubble {
  text-align: left;
  margin-left: 155px;
  background: #10b2e7; /* Color #Bubble */
  background: #7d8a97;
  color:  #074f66; /* Color #3 */;
  padding: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
}
.contact .author-message .speech-bubble .sub-title {
  color:  #074f66; /* Color #3 */;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 30px;
}
.contact .author-message .speech-bubble a {
  color: #fff; /* Color #4 */
}
.contact .author-message .speech-bubble:after {
  position: absolute;
  left: -10px;
  top: 60px;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #10b2e7; /* Color #Bubble */
  border-right: 10px solid #7d8a97;
}
.contact .author-message .speech-bubble .source {
  margin-top: 30px;
}
.contact .author-message .speech-bubble .source a {
  color:  #074f66; /* Color #3 */;
}
.contact .author-message .speech-bubble .source .title {
  color: #0c86ae;  /* Color #1C */
  color: #074f66;
}
.speech-bubble p {
  text-align: justify;
}
.contact .info .sub-title {
  color: #0e98c5; /* Color #1B */
  color: #74828F;
  margin-bottom: 30px;
  margin-top: 0;
}
.contact .social-icons {
  list-style: none;
  padding: 10px 0;
  margin-bottom: 0;
  display: inline-block;
  margin: 0 auto;
}
.contact .social-icons li {
  float: left;
}
.contact .social-icons li.last {
  margin-right: 0;
}
.contact .social-icons a {
  display: inline-block;
  background: #0c86ae;  /* Color #1C */
  background: #074f66;
  width: 48px;
  height: 48px;
  text-align: center;
  padding-top: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-right: 8px;
  float: left;
}
.contact .social-icons a:hover {
  background: #e6ad14; /* Color #2B */
  background: #C25B56;
}
.contact .social-icons a .fa {
  color: #fff; /* Color #4 */
}
.contact .social-icons a .fa:before {
  font-size: 26px;
  text-align: center;
  padding: 0;
}
/* ======= Footer ======= */
.footer {
  padding: 15px 0;
  background: #042a36; /* Color #5 */
  color: #fff; /* Color #4 */
}
.footer .copyright {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}


/* Small devices (tablets, less than 992px) */
@media (max-width: 991px) {
  .logo-title {
    font-size: .8em;
  }
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .header .main-nav button {
    margin-right: 0;
  }
  .header .main-nav .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
  }
  .btn-resume {
    display: none;
  }
  .heading .btns .btn {
    margin-right: 0;
    clear: both;
    display: block;
    margin-bottom: 30px;
  }
  .heading .title {
    font-size: 66px;
  }
  .heading .meta {
    margin-top: 60px;
  }
  .heading .meta li {
    float: none;
    display: block;
    margin-bottom: 5px;
  }
  .contact .author-message {
    text-align: center;
  }
  .contact .author-message .profile {
    position: static;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .contact .author-message .speech-bubble {
    margin-left: 0;
  }
  .contact .author-message .speech-bubble:after {
    display: none;
  }
  .code-block {
    display: none;
  }
  .contact .social-icons a {
    width: 36px;
    height: 36px;
    padding-top: 7px;
    margin-right: 2px;
  }
  .contact .social-icons a .fa:before {
    font-size: 18px;
  }
  #position-seeking {
    height: 80px;
  }
}

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */


/*.navbar-custom .navbar-nav li a:hover {
  color: #18BC9C;
  outline: none;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #18BC9C;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #18BC9C;
}
.navbar-custom .navbar-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-color: white;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #18BC9C;
  color: white;
  border-color: #18BC9C;
}*/
