
/*Fonts to consider: */
/*font-family: 'Seymour One', sans-serif;*/
/*font-family: 'Orbitron', sans-serif;*/
/*font-family: 'Aldrich', sans-serif;*/
/*font-family: 'Cutive Mono', monospace;*/
/*font-family: 'Bahiana', cursive;*/
/*font-family: 'Fjalla One', sans-serif;*/
/*font-family: 'Anton', sans-serif;*/
/*font-family: 'Lobster', cursive;*/
/*font-family: 'Bree Serif', serif;*/
/*font-family: 'Abril Fatface', cursive;*/
/*font-family: 'Play', sans-serif;*/
/*font-family: 'Orbitron', sans-serif;*/
/*font-family: 'Hammersmith One', sans-serif;*/
/*font-family: 'Righteous', cursive;*/
/*font-family: 'Shrikhand', cursive;*/
/*font-family: 'Emblema One', cursive;*/
/*font-family: 'Stalinist One', cursive;*/
/*font-family: 'Risque', cursive;*/
/*font-family: 'Macondo Swash Caps', cursive;*/
/*font-family: 'Rum Raisin', sans-serif;*/
/*font-family: 'Nova Flat', cursive;*/
/*font-family: 'Denk One', sans-serif;*/
/*font-family: 'Holtwood One SC', serif;*/
/*font-family: 'Prompt', sans-serif;*/
/*font-family: 'Luckiest Guy', cursive;*/
/*font-family: 'Playfair Display SC', serif;*/
/*font-family: 'Teko', sans-serif;*/

body {

}

#container {
  position: relative;
}

.navbar {
  margin-bottom: 0;
}

.header {
  /*background-color: RGBA(128,31,255,1);*/
  text-align: center;
  border: solid 1px red;
  margin-top: 0;
  padding: 50px 0;
}

.header h1 {
  /* size | family */
  font: 7em 'Arial', sans-serif;
  padding-top: 70px;
}

.header h3 {
  font: 2em 'Cutive Mono', monospace;
}

.header-buttons {
  padding: 30px 0 130px 0;
}

.header-links a {
  font-size: 1.2em;
  padding: 0 20px;
}

.projects {
  padding-bottom:80px;   /* Height of the footer */
}

.projects h1 {
  font: 2em 'Arial', sans-serif;
  text-align: center;
}

.projects-details {
  border: 1px solid blue;
  height: 300px; /*temp*/
  padding-bottom:60px;   /* Height of the footer */
}

.projects-details img {
  border: 1px solid green;
  width: 100%;
  /*height: 200px;*/
}

.skills {
  padding-bottom:80px;   /* Height of the footer */
}

.skills h1 {
  font: 2em 'Arial', sans-serif;
  text-align: center;
}

.about {
  padding-bottom:80px;   /* Height of the footer */
}

.about h1 {
  font: 2em 'Arial', sans-serif;
  text-align: center;
}


.footer {
  border: 1pt solid purple;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  height: 60px;
}

/*.footer:hover {
  -webkit-transition: transform 0.3s ease-in-out;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}*/
