body {
  font-size: 30pt;
}

#Seymour {
  font-family: 'Seymour One', sans-serif;
}

#Orbitron {
  font-family: 'Orbitron', sans-serif;
}

#Aldrich  {
  font-family: 'Aldrich', sans-serif;
}

#Cutive  {
  font-family: 'Cutive Mono', monospace;
}

#Bahiana  {
  font-family: 'Bahiana', cursive;
}

#Fjalla  {
  font-family: 'Fjalla One', sans-serif;
}

#Anton  {
  font-family: 'Anton', sans-serif;
}

#Lobster  {
  font-family: 'Lobster', cursive;
}

#Bree  {
  font-family: 'Bree Serif', serif;
}

#Abril  {
  font-family: 'Abril Fatface', cursive;
}

#Play  {
  font-family: 'Play', sans-serif;
}


#Righteous  {
  font-family: 'Righteous', cursive;
}


#Emblema  {
  font-family: 'Emblema One', cursive;
}


#Risque  {
  font-family: 'Risque', cursive;
}


#Rum  {
  font-family: 'Rum Raisin', sans-serif;
}

#Nova  {
  font-family: 'Nova Flat', cursive;
}

#Denk  {
  font-family: 'Denk One', sans-serif;
}

#Holtwood  {
  font-family: 'Holtwood One SC', serif;
}

#Prompt  {
  font-family: 'Prompt', sans-serif;
}

#Luckiest  {
  font-family: 'Luckiest Guy', cursive;
}

#Playfair  {
  font-family: 'Playfair Display SC', serif;
}

#Teko  {
  font-family: 'Teko', sans-serif;
}
